## Dependencies
node_modules

## Lock file(s)
package-lock.json

## Firebase
server/config/serviceAccountKey.json

## Env file
.env

server/config/lets-chat-cd4b8-firebase-adminsdk-fbsvc-1281796290.json
